@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Archivo Narrow", sans-serif;
  
  --color-brand-bg: #0A0A0A;
  --color-brand-surface: #131313;
  --color-brand-surface-dim: #0E0E0E;
  --color-brand-surface-card: #1C1B1B;
  --color-brand-primary: #FF5F1F; /* Neon Orange */
  --color-brand-primary-dim: #FFB59C;
  --color-brand-secondary: #00DAF3; /* Electric Blue */
  --color-brand-secondary-dim: #BDF4FF;
}

/* Custom Scrollbar styled for athletic scoreboard precision */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0A0A0A;
}

::-webkit-scrollbar-thumb {
  background: #FF5F1F;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E5551B;
}

html {
  scroll-behavior: smooth;
  background-color: #0A0A0A;
  color: #E5E2E1;
}

body {
  font-family: var(--font-sans);
}